#header-bar {
    display: flex;
    justify-content: center;
    border: solid greenyellow;
    height: 100px;
}
#header-image {
    display: flex;
    justify-items: left;
    border: purple solid;
}
#header-img-text {
    border: red solid;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
#h1-container {
    border: orange solid;
    display: flex;
    justify-content: left;
}
#header-h1-container p {
    display: flex;
    flex-direction: column;
}